/*code for all project pages*/
header {
  background-color: pink;
  padding: 5% 5% 5% 5%;
  margin-left: 2px;
  margin-bottom: 2em;
  border-bottom: 2px;
}

h1 {
  font-family:'Assistant',cursive;
  font-weight: bolder;
  font-size: 5em;
  color: inherit;
}

nav#nav li{
  float: left;
  width: 25%;
  margin: .5% .20% .5% .50%;
  text-align: center;
}

nav#mainnav ul li a {
 text-decoration: none;
 color: black;
 padding: 1em;
 display: underline;
 background-color: white;
}

nav#mainnav ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
 overflow: hidden;
 font-family: 'Assistant', serif;
 font-weight: 900;
 background-color: white;
}

nav#mainnav ul li a:hover {
 background-color: indigo;
 border: 1px solid indigo;
 color: white;
}


h2 {
  font-family:'Assistant',cursive;
  font-weight: bold;
  font-size: 2.5em;
  color: black;
  text-align: center;
}

h3 {
  font-family: 'Assistant', serif;
  font-weight: lighter;
}

p{
  font-family: 'Assistant', serif;
  font-weight: lighter;
  font-size: 1.2em;
}

ul{
  font-family: 'Assistant', serif;
  font-size: 1.5em;
  margin-bottom: 2em;
}

education#education {
  font-family: 'Assistant', serif;
}

body{
  background-color: purple;
}

/*code for index.html button*/
button#Linkedin-profile {
  color: white;
  text-decoration: underline;
  padding: 1em;
  border: 2px solid;
  font-family: serif;
  background-color: black;
}

h1#name{
  font-family: 'Assistant', cursive;
  color: white;
}

ul#info{
  background-color: white;
}

section#contact{
  background-color: white;
}

section#responsibilities{
  background-color: white;
}

/*code for pugs.html and vegas.html only*/
#picture {
  background-color: white;
  padding: 2.5% 2.5% 2.5% 2.5%;
  border-top: 1px;
  padding: 1em;
}
